@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  /* Отменяем подчеркивание у ссылки */
}

body {
  background: #e5e5e5;
}

.app {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 115px 1fr;
  grid-template-areas: "nav header" "nav main";
  max-width: 1280px;
  min-height: 880px;
  margin: 50px auto 0;
  border-radius: 14px;
}
@media (max-width: 768px) {
  .app {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.nav {
  display: grid;
  background: #fdfdff;
  grid-area: nav;
  border-radius: 14px 0 0 14px;
  grid-template-rows: repeat(3, 1fr);
}
.nav__links {
  display: grid;
  text-align: center;
  align-content: space-between;
}
.nav__logo {
  display: grid;
  align-self: start;
  justify-self: center;
  margin-top: 45%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  transform: translate(35%, -50%);
  top: 50%;
}

/* Ползунок */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(30px);
}

/* Закругленные ползунки */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 324px);
  grid-template-rows: 1fr;
  background: #EFF3F9;
  grid-area: header;
  border-radius: 0 14px 0 0;
  grid-row: span 1;
  column-gap: 35px;
  row-gap: 35px;
  padding-right: 45px;
  padding-left: 45px;
}
.header__search-form {
  display: grid;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header__search {
  width: 153px;
  height: 32px;
  border-radius: 8px;
}
.header__img {
  object-fit: scale-down;
  width: 22px;
  height: 22px;
}
.header__profile {
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__user-name {
  font-size: 20px;
  line-height: 100%;
}
.header__avatar {
  margin-left: 15px;
  width: 50px;
  height: 50px;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 324px);
  grid-template-rows: 148px 242px 242px;
  column-gap: 35px;
  row-gap: 35px;
  background: #eff3f9;
  grid-area: main;
  border-radius: 0 0 14px 0;
  padding-left: 30px;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 341px;
  height: 148px;
  border-radius: 14px;
  background: #ffffff;
}
.card__title {
  display: grid;
  justify-content: space-around;
  align-items: center;
  font-style: Bold;
  font-size: 20px;
  color: #4f4f4f;
}
.card__menu-btn {
  width: 26px;
  height: 5px;
  display: grid;
  justify-self: center;
  align-self: center;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  color: #979797;
}
.card__info {
  display: grid;
  justify-content: space-around;
  align-self: center;
  font-style: normal;
  font-size: 20px;
  color: #4f4f4f;
}
.card__statistics {
  text-align: center;
  align-self: center;
  font-style: medium;
  font-size: 20px;
  line-height: 100%;
  color: #979797;
}
@media (max-width: 768px) {
  .card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.shedule {
  width: 715px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: #ffffff;
  border-radius: 14px;
  align-items: center;
}
.shedule__title {
  display: grid;
  justify-self: start;
  font-size: 20px;
  line-height: 100%;
  align-content: center;
}
.shedule__calendar {
  display: grid;
  justify-content: center;
  align-content: center;
}
.shedule__checkbox--total {
  width: 16px;
  height: 16px;
  border-width: 2px;
  border-style: solid;
  border-color: #7f7fd5;
  border-radius: 5px;
}
.shedule__checkbox--follower {
  width: 16px;
  height: 16px;
  border-width: 2px;
  border-style: solid;
  border-color: #7f7fd5;
  border-radius: 5px;
}
.shedule__img {
  grid-column: span 2;
}

.diagram {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: auto;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 3;
  height: 242px;
  background: #ffffff;
  border-radius: 14px;
  padding-left: 5%;
}
.diagram__title {
  display: grid;
  justify-self: start;
  font-size: 20px;
  line-height: 100%;
  align-content: center;
  grid-column: span 2;
}
.diagram__checkbox--desktop {
  display: grid;
  width: 16px;
  height: 16px;
  border-radius: 5px;
  background-color: #e786d7;
}
.diagram__checkbox--mobole {
  display: grid;
  width: 16px;
  height: 16px;
  border-radius: 5px;
  background-color: #7f7fd5;
}

.bar-graph {
  width: 690px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background: #ffffff;
  border-radius: 14px;
  padding-left: 5%;
  align-items: center;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}
.bar-graph__title {
  display: grid;
  justify-self: start;
  font-size: 20px;
  line-height: 100%;
}
.bar-graph__checkbox {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 3;
  grid-column-end: 3;
}

.bar-graph__image {
  grid-column: span 2;
}

.bar-graph__checkbox--women {
  width: 16px;
  height: 16px;
  border-radius: 5px;
  background-color: #e786d7;
}

.bar-graph__checkbox--men {
  width: 16px;
  height: 16px;
  border-radius: 5px;
  background-color: #7f7fd5;
}

.geo-progress {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: auto;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 3;
  align-content: space-evenly;
  padding-left: 5%;
  background: #ffffff;
  border-radius: 14px;
  width: 381px;
}
.geo-progress__title {
  display: grid;
  justify-self: start;
  font-size: 20px;
  line-height: 100%;
}
.geo-progress__country {
  display: grid;
  font-size: 12px;
  line-height: 100%;
  color: #4f4f4f;
  justify-content: end;
}
.geo-progress__city {
  display: grid;
  font-size: 12px;
  line-height: 100%;
  color: #979797;
  justify-items: center;
  grid-column: span 2;
}
.geo-progress__img {
  grid-column: span 3;
}

.description {
  display: grid;
  grid-column: span 2;
  grid-row: span 2;
}

/*# sourceMappingURL=/scss.6b84482b.css.map */