.bar-graph {
  display: grid;
  align-items: center;
  width: 690px;
  height: 240px;
  padding-left: 5%;
  margin-left: 30px;
  background: #ffffff;
  border-radius: $rounded;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr); 
  grid-area: bar-graph;
  
  

  &__title {
    display: grid;
    justify-self: start;
    line-height: 100%;
    font-size: $xl-text;
   
  }
  &__checkbox {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
  }
}
.bar-graph__image {
  grid-column: span 2;
}
.bar-graph__checkbox--women {
  width: 16px;
  height: 16px;
  border-radius: $round;
  background-color: #e786d7;
}
.bar-graph__checkbox--men {
  width: 16px;
  height: 16px;
  border-radius: $round;
  background-color: #7f7fd5;
}
