.bar-graph {
  display: grid;
  grid-template: auto 1fr / auto auto;
  padding: 2.3rem 3.4rem 0 1rem;
  background: #ffffff;
  border-radius: $rounded;
  grid-template-columns: repeat(3, 1fr);

  grid-area: bar-graph;
  &__title {
    display: grid;
    justify-self: start;
    line-height: 100%;
    font-size: $xl-text;
  }
  &__checkbox {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
  }
  
}
.bar-graph__image {
  grid-column: span 3;
  @include sm {
    padding-top: 1.4rem;
    width: 100%;
  }
}
.bar-graph__checkbox--women {
  width: 16px;
  height: 16px;
  border-radius: $round;
  background-color: #e786d7;
}
.bar-graph__checkbox--men {
  width: 16px;
  height: 16px;
  border-radius: $round;
  background-color: #7f7fd5;
}
