.card {
  display: grid;
  padding: 1.5em;
  border-radius: $rounded;
  background: #ffffff;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-area: card;
  grid-column: span 1;

  &__title {
    display: grid;
    justify-content: space-around;
    align-items: center;
    font-size: $xl-text;
    color: #4f4f4f;
  }
  &__menu-btn {
    display: grid;
    justify-self: center;
    align-self: center;
    width: 26px;
    height: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    color: #979797;
  }
  &__info {
    display: grid;
    justify-content: space-around;
    align-self: center;
    font-style: normal;
    font-size: $xl-text;
    color: #4f4f4f;
  }
  &__statistics {
    text-align: center;
    align-self: center;
    font-style: medium;
    font-size: $xl-text;
    line-height: 100%;
    color: #979797;
  }
  @include md {
    grid-column: span 2;
  }
  @include sm {
    width: 100%;
    grid-row: span 1;
    grid-column: span 5;
    display: grid;
    justify-self: start;
  }
}
