.diagram {
  display: grid;
  justify-items: center;
  padding: 2.4rem;
  background: #ffffff;
  border-radius: $rounded;
  grid-template-columns: repeat(2, 1fr);
  grid-column: span 1;
  grid-area: diagram;

  &__title {
    display: grid;
    align-content: center;
    justify-self: start;
    padding-bottom: 1em;
    font-size: $xl-text;
    line-height: 100%;
    grid-column: span 2;
  }
  &__checkbox--desktop {
    display: grid;
    width: 16px;
    height: 16px;
    border-radius: $round;
    background-color: #e786d7;
  }
  &__checkbox--mobole {
    display: grid;
    width: 16px;
    height: 16px;
    border-radius: $round;
    background-color: #7f7fd5;
  }
  @include md {
    grid-column: span 3;
  }
}
