.geo-progress {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 380px;
  

  align-content: space-evenly;
  padding-left: 5%;
  background: #ffffff;
  border-radius: $rounded;
  margin-right: 30px;
  grid-area: geo-progress;
  height: 240px;
  
 
  &__title {
    display: grid;
    justify-self: start;
    font-size: 20px;
    line-height: 100%;
  }
  &__country {
    display:grid;
    font-size: 12px;
    line-height: 100%;
    color: #4f4f4f;

    justify-content: end;
  }
  &__city {
    display:grid;
    font-size: 12px;
    line-height: 100%;
    color: #979797;
    justify-items: center;
    grid-column: span 2;
  }
  &__img {
    grid-column: span 3;
  }
  @include md {grid-column: span 1;;
    grid-row: span 1;
    margin-left: 30px;
  }
}
.description {display: grid;
  grid-column: span 2;
  grid-row: span 2;
}
