.geo-progress {
  display: grid;
  padding: 5%;
  background: #ffffff;
  border-radius: $rounded;
  grid-template-columns: repeat(3, 1fr);
  grid-area: geo-progress;

  &__title {
    display: grid;
    justify-self: start;
    font-size: $xl-text;
    line-height: 100%;
  }
  &__country {
    display: grid;
    justify-content: center;
    font-size: $lg-text;
    line-height: 100%;
    color: #4f4f4f;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
  }
  &__city {
    display: grid;
    justify-items: center;
    font-size: $lg-text;
    line-height: 100%;
    color: #979797;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    justify-self: end;
  }

  @include md {
    display: grid;
    justify-items: center;
  }
}
.country {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: span 3;
  @include md {
    justify-items: end;
  }
}
