.geo {
  display: grid;
  padding-top: 5%;
  padding-left: 3%;
  background: #ffffff;
  border-radius: $rounded;
  grid-template-columns: repeat(3, 1fr);
  grid-area: geo;
  &__title {
    display: grid;
    justify-self: start;
    font-size: $xl-text;
    line-height: 100%;
    @include sm {
      align-items: center;
    }
  }
  &__country {
    display: grid;
    justify-content: center;
    font-size: $lg-text;
    line-height: 100%;
    color: #4f4f4f;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
    @include sm {
      display: grid;
      align-items: center;
    }
  }
  &__city {
    display: grid;
    justify-items: center;
    font-size: $lg-text;
    line-height: 100%;
    color: #979797;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    justify-self: end;
    @include sm {
      display: grid;
      align-items: center;
    }
  }
  @include md {
    display: grid;
    justify-items: center;
    grid-column: span 3;
  }
  @include sm {
    display: grid;
    padding: 2%;
  }
}
.geo__progress {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column: span 4;
  @include md {
    justify-items: end;
  }
  @include sm {
    row-gap: 2rem;
    padding: 1rem 2.9rem;
  }
}
.geo-progress__info {
  font-size: 12px;
  line-height: 100%;
  color: #979797;
}
.geo-progress__scale {
  width: 150px;
}
.geo-progress__country {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-end;
}
