.header {
  display: grid;
  grid-template-columns: 250px 250px 1fr;
  background: #eff3f9;
  grid-area: header;
  border-radius: 0 $rounded 0 0;
  grid-row: span 1;
  &__title {
    align-self: center;
    margin-left: 3em;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    padding-right: 3%;
  }
  &__search-form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @include sm {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }


  &__search {
    width: 153px;
    height: 32px;
    border-radius: 8px;
  }
  &__img {
    object-fit: scale-down;
    width: 22px;
    height: 22px;
  }
  &__profile {
    display: flex;
    grid-column: span 2;
    align-items: center;
    justify-content: flex-end;
    @include md {
      display: grid;
      justify-content: start;
      justify-items: end;
      justify-content: space-around;
    }
    @include sm {
      display: grid;
      justify-content: end;
      margin-right: 1rem;
     
    }
  }
  &__user-name {
    justify-self: center;
    font-size: $xl-text;
    line-height: 100%;
  }
  &__avatar {
    margin-right: 5%;
    margin-left: 15px;
    width: 50px;
    height: 50px;
  }
  @include md {
    display: grid;
    display: inline-grid;
    border-radius: 0 0 0 0;
  }
  @include sm {padding: 1rem;}
}
