.header {
  display: grid;
  grid-template-columns: 250px 250px 1fr;
  background: #eff3f9;
  grid-area: header;
  border-radius: 0 $rounded 0 0;
  grid-row: span 1;
  &__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
  }
  &__search-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 3em;
    @include sm {
      display: flex;
      
      align-items: center;
      grid-area: 2/1/2/1;
      padding-top: 1em;
      // grid-column: span 2;
    }
  }
  &__search {
    background: no-repeat url("/assets/header/loupe.png");
    background-position: 0 50%;
    width: 153px;
    height: 32px;
    margin-left: 10%;
    border-radius: 8px;
  }
  &__dropdown-btn {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background-color: transparent;
  }
  &__img {
    align-items: center;
    margin-left: 10%;
  }
  &__profile {
    display: flex;
    grid-column: span 2;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2em;

    @include sm {
      display: flex;
      grid-column: span 2;
      justify-content: center;
    }
  }
  &__user-name {
    justify-self: center;
    font-size: $xl-text;
    line-height: 100%;
  }
  &__avatar {
    padding-right: 10px;
    margin-left: 15px;
   
  }
  @include md {
    display: grid;
    display: inline-grid;
    border-radius: 0 0 0 0;
    padding-top: 2em;
  }
  @include sm {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    padding: 1rem;
  }
}
