.main {
  display: grid;
  background: #eff3f9;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "card card card"
    "shedule shedule diagram"
    "bar-graph bar-graph geo-progress";
  grid-gap: 1rem;

  @include md {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7.242px);
    grid-template-areas:
      "card"
      "card"
      "card"
      "shedule"
      "diagram"
      "bar-graph"
      "geo-progress";
    border-radius: 0 0 0 0;
    justify-items: center;
  }
}
