.main {
  display: grid;
  grid-template-columns: repeat(3, 341px);
  grid-template-rows: 148px 242px 242px;
  grid-template-areas:
    "card card card"
    "shedule shedule diagram"
    "bar-graph bar-graph geo";
  grid-area: main;
  grid-gap: 2em;
  padding: 2.5em;
  background: #eff3f9;
  @include md {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(6, 1fr);
    grid-template-areas:
      "card card card card card card"
      "shedule shedule shedule shedule shedule shedule "
      "diagram diagram diagram geo geo geo"
      "bar-graph bar-graph bar-graph bar-graph bar-graph bar-graph ";
    grid-area: main;
    padding: 1.5em;
    grid-gap: 1.5em;
  }
  @include sm {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 150px) repeat(4, 1fr);
    grid-template-areas:
      "card"
      "card"
      "card"
      "shedule"
      "diagram"
      "bar-graph"
      "geo";
    grid-gap: 3.2rem 0;
  }
}
