.nav {
  display: grid;
  background: #fdfdff;
  grid-area: nav;
  border-radius: $rounded 0 0 $rounded;
  @include md {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: $rounded $rounded 0 0;
  }
  @include sm {
    grid-area: 1/1/1/1;
    grid-template-columns: repeat(4, 1fr);
    .nav__link {
      display: none;
    }
    .nav__menu-btn {
      display: block;
      background-color: transparent;
      width: 20px;
      height: 20px;
    }
  }

  &__links {
    display: grid;
    text-align: center;
    align-content: space-between;
    @include md {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 40px);
      align-items: end;
    }
  }
  &__logo {
    display: grid;
    align-self: start;
    justify-self: center;
    margin-top: 45%;
    @include md {
      display: grid;
      margin: 0;
      align-self: center;
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  transform: translate(35%, -50%);
  top: 50%;
}

/* Ползунок */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;

  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 2px;
  background-color: white;

  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(30px);
}

/* Закругленные ползунки */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.nav__menu-btn {
  display: none;
  border: none;
  outline: none;
  cursor: pointer;
  width: 25px;
}
