// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1200px;
// colors
$primary-bg: #e5e5e5;
$color-light: #ffffff;

// mics
$rounded: 14px;
$round: 5px;
// typografy
$xxl-text: 30px;
$xl-text: 20px;
$lg-text: 12px;
